In [2]:
import pandas as pd

In [7]:
import glob

In [9]:
glob.glob("*.txt")

['BLACK VOLTA, VONKORO.txt',
 'BOUGOURIABA, DAN.txt',
 'dayfile.txt',
 'discharge_combined_adjusted.txt',
 'MOU HOUN, BLACK VOLTA, SAMANDENI.txt',
 'MOU HOUN, BLACK VOLTA,DAPOLA.txt',
 'NAKANBE, WHITE VOLTA, YAKALA.txt',
 'NAKANBE, WHITE VOLTA, YILOU.txt',
 'NAZINON, RED VOLTA, DAKAYE.txt',
 'PENDJARI, PORGA.txt',
 'SINGOU, SAMBOALI.txt',
 'volt_day.txt']

In [21]:
locations = ['BLACK VOLTA, VONKORO.txt',
 'BOUGOURIABA, DAN.txt',
 'MOU HOUN, BLACK VOLTA, SAMANDENI.txt',
 'MOU HOUN, BLACK VOLTA,DAPOLA.txt',
 'NAKANBE, WHITE VOLTA, YAKALA.txt',
 'NAKANBE, WHITE VOLTA, YILOU.txt',
 'NAZINON, RED VOLTA, DAKAYE.txt',
 'PENDJARI, PORGA.txt',
 'SINGOU, SAMBOALI.txt']

In [54]:
df = pd.read_csv(locations[0], delimiter=",")
df['n_month_row'] = df.apply(lambda x: str(x.date).strip()[0],axis=1)
df['year'] = df.apply(lambda x: str(x.date).strip()[1:].strip()[-4:],axis=1)
df['month'] = df.apply(lambda x: str(x.date).strip()[1:].strip()[:-4],axis=1)
df = df.drop(columns="date")

In [63]:
df

,1,2,3,4,5,6,7,8,9,10,11,n_month_row,year,month
0,12.0,12.0,12.0,11.000,11.000,10.000,10.0,10.0,10.000,10.000,9999,1,1979,1
1,9.0,9.0,9.0,9.000,8.000,8.000,8.0,8.0,7.000,7.000,9999,2,1979,1
2,7.0,7.0,6.0,6.000,6.000,6.000,5.0,5.0,5.000,5.000,5.000,3,1979,1
3,5.0,4.0,4.0,4.000,4.000,4.000,4.0,4.0,3.000,3.000,9999,1,1979,2
4,3.0,3.0,3.0,3.000,3.000,3.000,3.0,2.0,2.000,2.000,9999,2,1979,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,9999.0,9999.0,9999.0,9999,9999,9999,9999.0,9999.0,30.000,29.300,9999,2,1993,11
104,28.7,28.4,30.8,32.400,32.500,32.100,32.7,32.1,31.500,31.100,9999,3,1993,11
105,30.4,30.0,29.4,29.000,28.600,28.600,28.6,27.9,27.200,26.600,9999,1,1993,12
106,26.0,25.4,24.8,24.200,23.600,22.800,21.6,20.5,19.500,18.500,9999,2,1993,12
107,17.0,15.4,13.8,12.300,11.700,11.300,11.0,10.6,10.300,9.920,8.500,3,1993,12

'1979,1'

36.0